<main class="w-full h-screen bg-neutral-900 relative z-10"
      [class]="{'translate-x-[70%]':fromCOMPONENT == 'home'}"
      [class.trans]="fromCOMPONENT == 'home'">
  <div class="w-full h-full relative">
    <div class="w-full h-full gap-6 flex-col relative z-10 flex justify-center items-center">
      <img src="assets/web/logo.png" class="transition-all duration-[1s] hover:rotate-[360deg]" width="300">
      <div class="flex flex-col yekan justify-center gap-2 items-center">
        <h1 class="font-bold text-amber-600 text-[1.5rem] max-[768px]:text-[1rem]">! متاسفانه صفحه ای که دنبال آن بودید پیدا نشد </h1>
        <button [routerLink]="['/restaurant-menu']" [queryParams]="{'data':'not-found-comp'}"  class="bg-amber-600 font-bold rounded-xl text-[0.9rem] text-white p-3 px-24 transition-all duration-300 ring-0
        hover:bg-amber-400">
          برگشتن به خانه
        </button>
      </div>
    </div>

  </div>
</main>
